[submodule "luci-app-xray"]
	path = luci-app-xray
	url = https://github.com/yichya/luci-app-xray.git
[submodule "sms-tool"]
	path = sms-tool
	url = https://github.com/4IceG/luci-app-sms-tool.git
[submodule "luci-app-diskman"]
	path = luci-app-diskman
	url = https://github.com/lisaac/luci-app-diskman.git
[submodule "luci-app-daed-next"]
	path = luci-app-daed-next
	url = https://github.com/QiuSimons/luci-app-daed-next.git
